.body{position:relative;}

.container{
    position:absolute;
    width:20vw;
    height:70vh;
    left:40vw;
    top:15vh;
    border-radius: 20px;
    opacity:0.8;
    background:linear-gradient(55deg ,black,grey);
    box-shadow: 0px 0px 25px black;
}

#log_in_button{
    position:absolute;
    background-color:beige;
    
    width:40%;
    left:30%;
    height:10%;
    top:35%;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0px 0px 5px whitesmoke;
    
}

#sign_up_button{
    position:absolute;
    background-color: beige;
    width:40%;
    left:30%;
    height:10%;
    top:55%;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0px 0px 5px whitesmoke
}

.text{
    position:absolute;
    left:20%;
    top:10%;
    font-weight: bolder;
}

.log_in_sign_up_popup{
    display:none;   /* set to grid in case of malfunction */
    justify-content: center;
    align-items: center;
    position:absolute;
    width:40vw;
    height:60vh;
    background:linear-gradient(55deg ,black,grey);
    border-radius: 20px;
    box-shadow: 0px 0px 25px grey;
    left:30vw;
    top:20vh;
}

.labels{color:beige;
font-weight: bold;}

#account_entry{
    display : none;
    position:absolute;
    width:30%;
    left:52%;
    margin-top: 20px;
}

#account_creation{
    display:none;
    position:absolute;
    width:30%;
    left:52%;
    margin-top: 20px;
}
#close_button{
    position:absolute;
    width:30%;
    left:18%;
    margin-top: 20px;
}

   